<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fnakhsan.mov">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".CheckoutSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MovieHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.ChooseSeatActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.home.detail.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".sign.up.SignUpPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".sign.up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".sign.in.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".onboard.OnBoardThreeActivity"
            android:exported="false" />
        <activity
            android:name=".onboard.OnBoardTwoActivity"
            android:exported="false" />
        <activity
            android:name=".onboard.OnBoardOneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>